@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=IBM+Plex+Sans:wght@300&display=swap");
body {
  background-color: #cccc; }

.tamanoImg {
  width: 70%; }
  @media screen and (max-width: 415px) {
    .tamanoImg {
      width: 100%; } }

.bg-darckred {
  background: linear-gradient(to left, red, darkred); }

.colorWhiteText {
  color: white; }

.inputN:focus {
  box-shadow: none; }

.padN {
  padding-left: 0; }
  @media screen and (max-width: 992px) {
    .padN {
      padding-left: 120px; } }
  @media screen and (max-width: 415px) {
    .padN {
      padding-left: 58px;
      width: 150px; } }

.navZ {
  z-index: 8; }

.botonNav:focus {
  box-shadow: none; }

.btnColorBuscador, .btnColorPromociones {
  background-color: #ebcd09;
  border: none; }
  .btnColorBuscador:hover, .btnColorPromociones:hover {
    background-color: #ffd900;
    border: none; }

.btnColorPromociones {
  border-radius: 10px; }
  .btnColorPromociones:hover {
    background-color: #ebcd09;
    border: none;
    transform: scale(1.05);
    transition: 0.5s; }

div.card-body h5 {
  font-family: "IBM Plex Sans", sans-serif; }

div.card-body p {
  font-family: "IBM Plex Sans Arabic", sans-serif; }

@media screen and (max-width: 767px) {
  .headerDes {
    display: none; } }

.headerImg {
  width: 100%; }

.headerMo {
  display: none; }
  @media screen and (max-width: 767px) {
    .headerMo {
      display: inline; } }

.header5 {
  width: 100%; }

.tituloPromociones {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 15px auto;
  color: darkred;
  width: 90%;
  border-bottom: solid 1px darkred; }

.tituloSucursal {
  color: darkred;
  margin-bottom: 5px;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 5px; }

.pSucursal {
  border-top: solid 1px darkred;
  padding-top: 20px;
  font-family: "IBM Plex Sans Arabic", sans-serif; }

.dimensionesCarusel {
  width: 98%;
  margin: auto; }

.sucursal {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 30rem;
  width: 90%;
  margin: auto; }

.mapa {
  width: 60%;
  height: 300px;
  margin-bottom: 30px; }
  @media screen and (max-width: 712px) {
    .mapa {
      width: 90%; } }
  @media screen and (max-width: 412px) {
    .mapa {
      height: 255px;
      margin-bottom: 30px; } }

.publicidad1 {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 712px) {
    .publicidad1 {
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center; } }
  .publicidad1 img {
    width: 27%;
    border-radius: 10px; }
    @media screen and (max-width: 712px) {
      .publicidad1 img {
        width: 70%;
        margin-top: 30px; } }

.publicidad2 {
  width: 98%;
  display: flex;
  justify-content: space-around;
  align-items: none;
  margin: 30px auto 15px auto; }
  @media screen and (max-width: 712px) {
    .publicidad2 {
      flex-direction: column;
      align-items: center; } }
  .publicidad2 img {
    width: 49%;
    margin: auto;
    border-radius: 10px; }
    @media screen and (max-width: 712px) {
      .publicidad2 img {
        width: 95%;
        margin: 10px 0; } }

.aside {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 8px;
  padding-top: 10px;
  font-family: "IBM Plex Sans Arabic", sans-serif; }

/*--- CAROUSEL ---*/
.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: none;
  height: 100%; }

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  text-align: center;
  width: 33%; }
  @media screen and (max-width: 767px) {
    .card {
      width: 90%; } }
  .card img {
    width: 70%;
    margin: auto; }

.carousel-inner {
  padding: 1em; }

.carousel-control-prev,
.carousel-control-next {
  background-color: #b55353;
  margin: 0 3vh;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%); }

.pCard {
  height: 6vh; }
  @media screen and (max-width: 877px) {
    .pCard {
      height: 8vh; } }
  @media screen and (max-width: 767px) {
    .pCard {
      height: auto; } }

/*--FIN INDEX*/
/*---iNICIO DE LIBRERIA---*/
.wrap {
  width: 90%;
  margin: auto; }
  .wrap h1 {
    color: #494B4D;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0px;
    font-size: 2.5rem;
    font-family: "IBM Plex Sans", sans-serif; }
    .wrap h1:after {
      content: '';
      width: 100%;
      height: 1px;
      background: #C7C7C7;
      margin: 10px 0; }
    @media screen and (max-width: 1024px) {
      .wrap h1 {
        font-size: 1.7rem; } }

.store-wrapper {
  display: flex; }
  @media screen and (max-width: 712px) {
    .store-wrapper {
      flex-direction: column;
      align-items: center; } }

.category_list {
  display: flex;
  flex-direction: column;
  width: 18%; }
  @media screen and (max-width: 712px) {
    .category_list {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      margin-bottom: 15px; } }

.category_list .category_item {
  display: block;
  width: 90%;
  padding: 15px 0;
  margin-bottom: 20px;
  background-color: darkred;
  font-size: 1.3rem;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  text-align: center;
  text-decoration: none;
  color: white; }
  .category_list .category_item:hover {
    transform: scale(1.06);
    transition: 0.4s;
    background-color: red; }
  @media screen and (max-width: 1024px) {
    .category_list .category_item {
      padding: 10px 0;
      margin-bottom: 20px;
      font-size: 1rem; } }
  @media screen and (max-width: 712px) {
    .category_list .category_item {
      width: 30%;
      padding: 5px 0;
      margin: 0 3px 7px 3px; } }

/* ---- Inicio de Productos ----*/
.products-list {
  width: 82%;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 712px) {
    .products-list {
      width: 100%;
      justify-content: space-between; } }

.products-list .product-item {
  width: 22%;
  margin-left: 3%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  align-self: flex-start; }
  .products-list .product-item img {
    width: 100%; }
  .products-list .product-item a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    font-family: "IBM Plex Sans Arabic", sans-serif; }
    @media screen and (max-width: 1152px) {
      .products-list .product-item a {
        height: 9vh;
        display: flex;
        align-items: center;
        justify-content: center; } }
    @media screen and (max-width: 1024px) {
      .products-list .product-item a {
        font-size: 1rem;
        height: auto; } }
    @media screen and (max-width: 960px) {
      .products-list .product-item a {
        height: 7vh; } }
    @media screen and (max-width: 712px) {
      .products-list .product-item a {
        height: auto; } }
  @media screen and (max-width: 712px) {
    .products-list .product-item {
      width: 48%;
      margin-left: 0; } }

/*--FIN DE LIBRERIA*/
.btnCombos {
  background-color: darkred;
  border: none; }
  .btnCombos:hover {
    background-color: red;
    transition: 1.1s; }

@media screen and (max-width: 790px) {
  .pCombos {
    height: 10vh; } }

@media screen and (max-width: 767px) {
  .pCombos {
    height: auto; } }

/*--INICIO DE NOSOTROS--*/
.quinesSomos {
  display: grid;
  grid-template-areas: "section1 asideImg" "section2 asideImg" "section3 asideImg" "asideVisita asideImg";
  min-height: 100vh;
  grid-template-columns: 85% 14%;
  grid-template-rows: auto auto auto auto;
  grid-gap: 5px 1%; }
  @media screen and (max-width: 1024px) {
    .quinesSomos {
      grid-template-areas: "section1" "section2" "section3" "asideVisita" "asideImg";
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto 4vh 12vh;
      grid-gap: auto 0; } }
  @media screen and (max-width: 530px) {
    .quinesSomos {
      grid-template-areas: "section1" "section2" "section3" "asideVisita" "asideImg";
      grid-template-rows: auto auto auto 7vh 12vh; } }

#section1 {
  grid-area: section1;
  width: 90%;
  margin: auto; }
  #section1 h1 {
    font-family: "IBM Plex Sans", sans-serif; }
  #section1 h5 {
    font-family: "IBM Plex Sans", sans-serif; }
  #section1 p {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    line-height: 2;
    margin-right: 30px; }
    @media screen and (max-width: 992px) {
      #section1 p {
        margin-right: 0; } }

#section2 {
  grid-area: section2;
  width: 90%;
  margin: auto; }
  #section2 h5 {
    font-family: "IBM Plex Sans", sans-serif; }
  #section2 p {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    line-height: 2;
    margin-right: 30px; }
    @media screen and (max-width: 992px) {
      #section2 p {
        margin-right: 0; } }

#section3 {
  grid-area: section3;
  width: 90%;
  margin: auto; }
  #section3 h5 {
    font-family: "IBM Plex Sans", sans-serif; }
  #section3 p {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    line-height: 2;
    margin-right: 30px; }
    @media screen and (max-width: 992px) {
      #section3 p {
        margin-right: 0; } }

span {
  font-weight: bold;
  font-size: 20px; }

#asideImg {
  grid-area: asideImg;
  background-size: cover;
  animation-name: animationAside;
  animation-iteration-count: infinite;
  animation-duration: 20s; }

#asideVisita {
  text-align: center;
  grid-area: asideVisita;
  font-size: 1.2rem;
  padding-bottom: 8px;
  font-family: "IBM Plex Sans Arabic", sans-serif; }
  @media screen and (max-width: 1024px) {
    #asideVisita {
      height: 15px; } }

.padingNos {
  padding: 0 30px; }

@keyframes animationAside {
  0% {
    background-image: url(../imagenes/img-vertical-aside/5.gif); }
  25% {
    background-image: url(../imagenes/img-vertical-aside/2.png); }
  50% {
    background-image: url(../imagenes/img-vertical-aside/3.png); }
  75% {
    background-image: url(../imagenes/img-vertical-aside/4.png); }
  100% {
    background-image: url(../imagenes/img-vertical-aside/5.gif); } }

.bg-darck-fluid {
  background-color: rgba(0, 0, 0, 0.1); }

/*--FIN DE NOSOTROS--*/
/*--INICIO DE CONTACTO--*/
.headerImg2 {
  width: 100%;
  margin-bottom: 10px; }

.contactos {
  width: 80%;
  margin: auto;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4); }
  .contactos h1 {
    font-family: "IBM Plex Sans", sans-serif;
    color: darkred; }
  .contactos label {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    color: darkred;
    font-size: 23px; }
  .contactos input {
    background-color: rgba(0, 0, 0, 0.5); }
  .contactos button {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: darkred;
    border: none; }
    .contactos button:hover {
      transform: scale(1.05);
      background-color: red;
      transition: 0.5s; }
  .contactos textarea {
    background-color: rgba(0, 0, 0, 0.5); }

.contactoH {
  border: none; }
  .contactoH:focus {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: solid 2px darkred; }

.contactoSucursalesTitle {
  font-family: "IBM Plex Sans", sans-serif;
  width: 95%;
  margin: 25px auto;
  color: darkred;
  border-bottom: solid 1px darkred;
  padding-bottom: 5px; }
  @media screen and (max-width: 767px) {
    .contactoSucursalesTitle {
      width: 82%; } }

#sectionContactoSucursales {
  text-align: center;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 767px) {
    #sectionContactoSucursales {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center; } }

.contenedorContacto {
  width: 50%;
  margin-top: 20px; }
  @media screen and (max-width: 767px) {
    .contenedorContacto {
      width: 90%; } }
  .contenedorContacto figure {
    margin: auto;
    position: relative;
    width: 90%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); }
    .contenedorContacto figure img {
      width: 100%;
      transition: all 500ms ease-out; }
    .contenedorContacto figure .capa {
      position: absolute;
      top: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden; }
      .contenedorContacto figure .capa h3 {
        font-weight: 300;
        margin-bottom: 30%;
        margin-top: 15%;
        transition: all 500ms ease-out; }
      .contenedorContacto figure .capa p {
        line-height: 1.5;
        width: 80%;
        margin: auto; }
    .contenedorContacto figure:hover > .capa {
      opacity: 1;
      visibility: visible; }
      .contenedorContacto figure:hover > .capa h3 {
        margin-top: 30%;
        margin-bottom: 20px; }
    .contenedorContacto figure:hover > img {
      transform: scale(1.1); }

/*---FIN DE CONTACTO---*/
@media screen and (max-width: 1024px) {
  @keyframes animationAside {
    0% {
      background-image: url(../imagenes/img-horizontal-aside/5.png); }
    25% {
      background-image: url(../imagenes/img-horizontal-aside/2.png); }
    50% {
      background-image: url(../imagenes/img-horizontal-aside/3.png); }
    75% {
      background-image: url(../imagenes/img-horizontal-aside/4.png); }
    100% {
      background-image: url(../imagenes/img-horizontal-aside/5.png); } } }

@media screen and (max-width: 712px) {
  @keyframes animationAside {
    0% {
      background-image: url(../imagenes/img-horizontal-aside/mobile/5.png); }
    25% {
      background-image: url(../imagenes/img-horizontal-aside/mobile/2.png); }
    50% {
      background-image: url(../imagenes/img-horizontal-aside/mobile/3.png); }
    75% {
      background-image: url(../imagenes/img-horizontal-aside/mobile/4.png); }
    100% {
      background-image: url(../imagenes/img-horizontal-aside/mobile/5.png); } } }

@media screen and (max-width: 670px) {
  /*--- NOSOTROS ---*/
  @keyframes animationAside {
    0% {
      background-image: url(../imagenes/img-horizontal-aside/670/5.png); }
    25% {
      background-image: url(../imagenes/img-horizontal-aside/670/2.png); }
    50% {
      background-image: url(../imagenes/img-horizontal-aside/670/3.png); }
    75% {
      background-image: url(../imagenes/img-horizontal-aside/670/4.png); }
    100% {
      background-image: url(../imagenes/img-horizontal-aside/670/5.png); } } }

@media screen and (max-width: 600px) {
  /*--- NOSOTROS ---*/
  @keyframes animationAside {
    0% {
      background-image: url(../imagenes/img-horizontal-aside/600/5.png); }
    25% {
      background-image: url(../imagenes/img-horizontal-aside/600/2.png); }
    50% {
      background-image: url(../imagenes/img-horizontal-aside/600/3.png); }
    75% {
      background-image: url(../imagenes/img-horizontal-aside/600/4.png); }
    100% {
      background-image: url(../imagenes/img-horizontal-aside/600/5.png); } } }

@media screen and (max-width: 530px) {
  @keyframes animationAside {
    0% {
      background-image: url(../imagenes/img-horizontal-aside/530/5.png); }
    25% {
      background-image: url(../imagenes/img-horizontal-aside/530/2.png); }
    50% {
      background-image: url(../imagenes/img-horizontal-aside/530/3.png); }
    75% {
      background-image: url(../imagenes/img-horizontal-aside/530/4.png); }
    100% {
      background-image: url(../imagenes/img-horizontal-aside/530/5.png); } } }

#error {
  background: #081c22;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif; }
  #error .img404 {
    width: 50%; }
    @media screen and (max-width: 1024px) {
      #error .img404 {
        width: 80%; } }
    @media screen and (max-width: 430px) {
      #error .img404 {
        width: 90%; } }
  #error h1 {
    color: #e9eef5;
    font-size: 20px;
    padding: 10px 0 0 0;
    text-align: center; }
    @media screen and (max-width: 630px) {
      #error h1 {
        font-size: 16px; } }
    @media screen and (max-width: 430px) {
      #error h1 {
        width: 80%;
        line-height: 1.7; } }
  #error h2 {
    color: #e9eef5;
    font-size: 20px;
    padding: 0;
    text-align: center; }
    @media screen and (max-width: 630px) {
      #error h2 {
        font-size: 16px; } }

.errorContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center; }
  .errorContainer a {
    display: flex;
    align-items: center;
    justify-content: center; }
    .errorContainer a .imgEloError {
      width: 80%; }
      @media screen and (max-width: 1024px) {
        .errorContainer a .imgEloError {
          width: 65%; } }
