// VARS COLORS
$mainColor: rgb(139, 0, 0);
$secondaryColor: rgb(255, 0, 0);
$contactoColor: rgba(0, 0, 0, .6);
$shadowCarousel: rgba(22, 22, 26, 0.18);
$backgroundCarousel: #e1e1e1;
$tituloColor: #494B4D;
$tituloAfter: #C7C7C7;
$textWhite: rgb(255, 255, 255);
$shadowProductos:rgba(0, 0, 0, 0.22);
$backgroundProd:rgb(0, 0, 0);
$backgroundContacto: rgba(0, 0, 0, .1);
