.tamanoImg {
    width: 70%;

    @media screen and (max-width: 415px) {
        width: 100%;
    }
}

.bg-darckred {
    background: linear-gradient(to left, $secondaryColor, $mainColor);
}

.colorWhiteText {
    color: white;
}

.inputN:focus {
    box-shadow: none;
}

.padN {
    padding-left: 0;

    @media screen and (max-width: 992px) {
        padding-left: 120px;
    }

    @media screen and (max-width: 415px) {
        padding-left: 58px;
        width: 150px;
    }
}

.navZ {
    z-index: 8;
}


.btnColorBuscador {
    background-color: rgb(235, 205, 9);
    border: none;

    &:hover {
        background-color: rgb(255, 217, 0);
        border: none;
    }
}

.btnColorPromociones {
    @extend .btnColorBuscador;
    border-radius: 10px;

    &:hover {
        background-color: rgb(235, 205, 9);
        border: none;
        transform: scale(1.05);
        transition: 0.5s
    }

}