// Inicio de combos

.btnCombos{
    background-color: map-get($mapaDeColores, $mainColor);
    border: none;
    &:hover{
        background-color: map-get($mapaDeColores, $secondaryColor);
        transition: 1.1s;
    }
}

.pCombos{
    @media screen and (max-width: 790px){
        height: 10vh;
    }
    @media screen and (max-width: 767px){
        height: auto;
    }
}