// ------- INDEX 
.headerDes {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.headerImg {
    width: 100%;
}

.headerMo {
    display: none;

    @media screen and (max-width: 767px) {
        display: inline;
    }
}

.header5 {
    width: 100%;
}



.tituloPromociones {
    font-family: $mainFont;
    margin: 15px auto;
    color: map-get($mapaDeColores, $mainColor);
    width: 90%;
    border-bottom: solid 1px map-get($mapaDeColores, $mainColor);
}

.tituloSucursal {
    color: map-get($mapaDeColores, $mainColor);
    margin-bottom: 5px;
    font-family: $mainFont;
    margin-top: 5px;
}

.pSucursal {
    border-top: solid 1px map-get($mapaDeColores, $mainColor);
    padding-top: 20px;
    font-family: $secondFont;
}

.dimensionesCarusel {
    width: 98%;
    margin: auto;
}

.sucursal {
    @include flexbox(center, start);
    flex-direction: column;
    height: 30rem;
    width: 90%;
    margin: auto;
}


.mapa {
    width: 60%;
    height: 300px;
    margin-bottom: 30px;

    @media screen and (max-width: 712px) {
        width: 90%
    }

    @media screen and (max-width: 412px) {
        height: 255px;
        margin-bottom: 30px;
    }
}

.publicidad1 {
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 712px) {
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 27%;
        border-radius: 10px;

        @media screen and (max-width: 712px) {
            width: 70%;
            margin-top: 30px;
        }
    }
}


.publicidad2 {
    width: 98%;
    @include flexbox(none, space-around);
    margin: 30px auto 15px auto;

    @media screen and (max-width: 712px) {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 49%;
        margin: auto;
        border-radius: 10px;

        @media screen and (max-width: 712px) {
            width: 95%;
            margin: 10px 0;
        }
    }
}


.aside {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 8px;
    padding-top: 10px;
    font-family: $secondFont;
}

/*--- CAROUSEL ---*/

.cards-wrapper {
    @include flexbox(none, center);
    height: 100%;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 map-get($mapaDeColores, $shadowCarousel);
    border: none;
    border-radius: 0;
    text-align: center;
    width: 33%;
    @media screen and (max-width: 767px){
        width: 90%;
    } 


    img {
        width: 70%;
        margin: auto;
    }
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: map-get($mapaDeColores, $backgroundCarousel);
    margin: 0 3vh;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.pCard{
    height: 6vh;
    @media screen and (max-width: 877px){
        height: 8vh;
    }
    @media screen and (max-width: 767px){
        height: auto;
    }
}

/*--FIN INDEX*/