/*---iNICIO DE LIBRERIA---*/
.wrap {
    width: 90%;
    margin: auto;

    h1 {
        color: map-get($mapaDeColores, $tituloColor);
        font-weight: 500;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px 0px;
        font-size: 2.5rem;
        font-family: $mainFont;

        &:after {
            content: '';
            width: 100%;
            height: 1px;
            background: map-get($mapaDeColores, $tituloAfter);
            margin: 10px 0;
        }

        @media screen and (max-width: 1024px) {
            font-size: 1.7rem;
        }
    }
}

.store-wrapper {
    display: flex;

    @media screen and (max-width: 712px) {
        flex-direction: column;
        align-items: center;
    }
}

.category_list {
    display: flex;
    flex-direction: column;
    width: 18%;

    @media screen and (max-width: 712px) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }
}

.category_list .category_item {
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background-color: map-get($mapaDeColores, $mainColor);
    font-size: 1.3rem;
    font-family: $secondFont;

    text-align: center;
    text-decoration: none;
    color: map-get($mapaDeColores, $textWhite);

    &:hover {
        transform: scale(1.06);
        transition: 0.4s;
        background-color: map-get($mapaDeColores, $secondaryColor);
    }

    @media screen and (max-width: 1024px) {
        padding: 10px 0;
        margin-bottom: 20px;
        font-size: 1rem;
    }

    @media screen and (max-width: 712px) {
        width: 30%;
        padding: 5px 0;
        margin: 0 3px 7px 3px;
    }
}

/* ---- Inicio de Productos ----*/

.products-list {
    width: 82%;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 712px) {
        width: 100%;
        justify-content: space-between;
    }
}

.products-list .product-item {
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 20px 0px map-get($mapaDeColores, $shadowProductos);
    @include flexbox(center, none);
    flex-direction: column;
    align-self: flex-start;

    img {
        width: 100%;
    }

    a {
        display: block;
        width: 100%;
        padding: 8px 0;
        background-color: map-get($mapaDeColores, $backgroundProd);

        color: map-get($mapaDeColores, $textWhite);
        font-size: 1.2rem;
        text-decoration: none;
        text-align: center;
        font-family: $secondFont;

        @media screen and (max-width: 1024px) {
            font-size: 1rem;
        }
    }

    @media screen and (max-width: 712px) {
        width: 48%;
        margin-left: 0;
    }
}

/*--FIN DE LIBRERIA*/